.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.vehicleImage {
    max-width: 100px;
    margin-bottom: 10px;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    color: black;
}

.button:hover {
    background-color: #ddd;
}

.button.selected {
    background-color: red;
    color: white;
}

.bookButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}