/* theatres.module.css */

.container {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.searchInput {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.theatreContainer{
  width: 60%;
}
.theatreItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.theatreName {
  margin: 0;
  font-size: 1.5rem;
  color: #007bff;
  text-align: center;
}

.theatreInfo {
  margin: 10px 0;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  width: 150px;
}

.moviePoster {
  border-radius: 8px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
}

.movieTitle {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

@media (max-width: 768px) {
  .theatreItem {
    padding: 15px;
  }

  .moviePoster {
    height: 150px;
  }
}